name: Deploy to AWS EC2 (Docker Compose)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            sudo apt update -y
            sudo apt install docker.io -y
            sudo systemctl start docker
            sudo systemctl enable docker

            sudo apt install docker-compose-plugin -y

            cd ~
            rm -rf devops-cicd-ec2 || true
            git clone https://github.com/${{ github.repository }}.git
            cd devops-cicd-ec2

            sudo docker compose down || true
            sudo docker compose up -d --build

